{% extends 'base.html' %}
{% block content %}
      <!-- MAIN CONTENT -->
    <div class="container mt-4">
        <h1>Curso de {{ nome_curso }}</h1>
        <p class="lead">O Curso Superior de Tecnologia (CST) possui uma estrutura curricular fundamentada na concepção de eixos tecnológicos constantes do Catálogo Nacional de Cursos Superiores de Tecnologia (CNCST). A organização curricular do curso é composta de dois núcleos: Núcleo Fundamental e  Núcleo Científico e Tecnológico (com unidade básica e unidade tecnológica), acrescido de prática profissional.


            Carga horária do curso:
            2.800 horas, totalizando 3.731 horas/aula.
            Duração do curso:
            Sete  semestres (períodos) letivos.
            Resolução de criação do curso:
            Resolução Nº 2/2022-CONSUP/IFRN</p>
    </div><!-- /.container -->
  
{% endblock%}